<!-- BEGIN OF page footer -->
  <footer id="site-footer" class="page-footer">

    <!-- Right content -->
    <div class="footer-right">
      <ul class="social-text">
        <li><a href="//facebook.com/miradontsoa">Fb</a></li>
        <li><a href="//twitter/miradontsoa">Tw</a></li>
        <li><a href="//instagram.com/miradontsoa">In</a></li>
      </ul>
    </div>
  </footer>
  <!-- END OF site footer -->