<!-- BEGIN OF site header Menu -->
<header
  class="navbar navbar-top-alpha scrolled-white menu-right topmenu-right"
  role="navigation"
>
  <!-- Begin of menu icon toggler -->
  <button class="navbar-toggler site-menu-icon btn btn-menu" id="navMenuIcon">
    <!-- Available class : menu-icon-dot / menu-icon-thick /menu-icon-random -->
    <span class="text">
      menu
    </span>
    <span class="icon icon-menu icon-menu-a">
      <span class="bars align-right">
        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
      </span>
    </span>
  </button>
  <!-- End of menu icon toggler -->
  <!-- Begin of logo/brand -->
  <a class="navbar-brand" href="#">
    <span class="logo">
      <img class="light-logo" src="images/logos/logoShape.svg" alt="Logo" />
    </span>
  </a>
  <!-- End of logo/brand -->
  <!-- begin of menu wrapper -->
  <div class="all-menu-wrapper" id="navbarMenu">
    <!-- Begin of hamburger mainmenu menu -->
    <nav class="navbar-mainmenu text-center">
      <ul class="navbar-nav">
        {{#if hideSection}}
          {{#unless hideSection.home}}
            <li class="nav-item active">
              <a class="nav-link" href="#home">
                Home
                <span class="sr-only">
                  (current)
                </span>
              </a>
            </li>
          {{/unless}}
          {{#unless hideSection.aboutUs}}
            <li class="nav-item">
              <a class="nav-link" href="#about">
                About Us
              </a>
            </li>
          {{/unless}}
          {{#unless hideSection.team}}
            <li class="nav-item">
              <a class="nav-link" href="#team">
                Team
              </a>
            </li>
          {{/unless}}
          {{#unless hideSection.mission}}
            <li class="nav-item">
              <a class="nav-link" href="#mission">
                Mission
              </a>
            </li>
          {{/unless}}
          {{#unless hideSection.services}}
            <li class="nav-item">
              <a class="nav-link" href="#services">
                Services
              </a>
            </li>
          {{/unless}}
          {{#unless hideSection.projects}}
            <li class="nav-item">
              <a class="nav-link" href="#projects">
                Projects
              </a>
            </li>
          {{/unless}}
          {{#unless hideSection.odysseyFoundation}}
            <li class="nav-item">
              <a class="nav-link" href="#odyssey-foundation">
                Odyssey Foundation
              </a>
            </li>
          {{/unless}}
          {{#unless hideSection.technologies}}
            <li class="nav-item">
              <a class="nav-link" href="#technology">
                Technologies
              </a>
            </li>
          {{/unless}}
          {{#unless hideSection.careers}}
            <li class="nav-item">
              <a class="nav-link" href="#careers">
                Careers
              </a>
            </li>
          {{/unless}}
          {{#unless hideSection.contact}}
            {{#if contact}}
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  Contact
                </a>
              </li>
            {{/if}}
          {{/unless}}
        {{/if}}
      </ul>
    </nav>
    <!-- End of hamburger mainmenu menu -->
    <!-- Begin of sidebar nav menu params class: text-only / icon-only-->
    <nav class="navbar-sidebar left center icon-only font-primary nav">
      <ul class="navbar-nav" id="qmenu">
        <li class="nav-item" data-menuanchor="home">
          <a href="#home">
            <i class="icon ion-home"></i>
            <span class="txt">
              About
            </span>
          </a>
        </li>
        <li class="nav-item" data-menuanchor="projects-featured">
          <a href="#about">
            <i class="icon ion-android-image"></i>
            <span class="txt">
              About
            </span>
          </a>
        </li>
        <li class="nav-item" data-menuanchor="contact">
          <a href="#contact">
            <i class="icon ion-android-call"></i>
            <span class="txt">
              Contact
            </span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End of sidebar nav menu -->
  </div>
  <!-- end of menu wrapper -->
</header>
<!-- END OF site header Menu-->