<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <!-- Page Title Here -->
  <title>Odyssey Analytics</title>
  <link rel="shortcut icon" type="image/jpg" href="images/logos/logoBSmall.jpg" />
  <!-- Meta -->
  <!-- Page Description Here -->
  <meta name="title" content="Odyssey Analytics">
  <meta name="description"
    content="Odyssey Analytics offers software development for digital technology, artificial intelligence and robotic processing automation. With offices in Houston and Lahore, Odyssey is a key partner for businesses and organizations who have technology projects of all sizes that require additional resources. Odyssey creates and manages teams of software developers and programmers who make your Digital technology and AI projects a reality. We work with clients to understand their specific needs and create and manage bespoke solutions to suit a variety of needs. Instead of offering one size fits all digital products with subscription fees, Odyssey takes your plans and helps to make them a reality. Headed by experts in the field of digital technology with twenty-five years of experience, Odyssey is focused on maintaining highly ethical, well managed offices overseas. Our mission includes the desire to support women in technology and to create offices that are environmentally conscious and managed with the highest ethical standards. Technology is our business, and people are our priority.">
  <meta name="keywords"
    content="Odyssey, Analytics, Odyssey Analytics, Development, Machine Learning, Artificial Inteligence, Bioinformatics, Bio Technology, Enerygy, Oil, Gas, Oil & Gas, Oil and Gas, Software, Consultancy, Consulting, Consultants, Business Intelligence, Custom Software, Cloud Services, AWS, AZURE, Google Cloud Platform">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="7 days">
  <meta name="author" content="Ismaeel Haider">

  <!-- Disable screen scaling-->
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <!-- Web fonts and Web Icons -->
  <link rel="stylesheet" href="/fonts/inter/stylesheet.css">
  <link rel="stylesheet" href="/fonts/gilroy/stylesheet.css">
  <link rel="stylesheet" href="/fonts/ionicons.min.css">
  <link rel="stylesheet" href="/fonts/font-awesome.min.css">

  <!-- Vendor CSS style -->
  <link rel="stylesheet" href="/stylesheets/pageloader.css">

  <!-- Uncomment below to load individualy vendor CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/javascripts/vendor/swiper.min.css">
  <link rel="stylesheet" href="/javascripts/vendor/jquery.fullpage.min.css">
  <link rel="stylesheet" href="/javascripts/vegas/vegas.min.css">

  <!-- Main CSS files -->
  <link rel="stylesheet" href="/stylesheets/main.css">

  <!-- add alt layout here -->
  <link rel="stylesheet" href="/stylesheets/style-default.css">

  <script src="/javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="body-page">
  <!-- Page Loader : just comment these lines to remove it -->
  <div class="page-loader" id="page-loader">
    <div>
      <div class="icon ion-spin"></div>
      <p>Loading</p>
    </div>
  </div>
  {{> header }}
  <!-- BEGIN OF page cover -->
  <div class="hh-cover page-cover">
    <!-- Cover Background -->
    <div class="cover-bg bg-img " data-image-src="/img/bg-default2.jpg"></div>

    <!-- Particles as background - uncomment below to use particles/snow -->
    <div id="particles-js" class="cover-bg pos-abs full-size bg-color" data-bgcolor="rgba(2, 3, 10, 0.7)"></div>
  </div>
  <!--END OF page cover -->

  {{{ body }}}

  <!-- scripts -->
  <!-- All Javascript plugins goes here -->
  <script src="/javascripts/vendor/jquery-1.12.4.min.js"></script>
  <script src="/javascripts/slick/slick.min.js"></script>

  <!-- All vendor scripts -->
  <script src="/javascripts/vendor/parallax.min.js"></script>
  <script src="/javascripts/vendor/scrolloverflow.min.js"></script>
  <script src="/javascripts/vendor/all.js"></script>
  <script src="/javascripts/particlejs/particles.min.js"></script>

  <!-- Countdown script -->
  <script src="/javascripts/jquery.downCount.js"></script>

  <!-- Form script -->
  <script src="/javascripts/form_script.js"></script>

  <!-- Javascript main files -->
  <script src="/javascripts/main.js"></script>

  <script src="/javascripts/particlejs/particles-init.js"></script>
</body>

</html>