<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <!-- Page Title Here -->
  <title>Odyssey Analytics</title>
  <link rel="shortcut icon" type="image/jpg" href="images/logos/logoBSmall.jpg"/>
  <!-- Meta -->
  <!-- Page Description Here -->
  <meta name="description"
    content="Odyssey Analytics">

  <!-- Disable screen scaling-->
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <!-- Web fonts and Web Icons -->
  <link rel="stylesheet" href="/fonts/inter/stylesheet.css">
  <link rel="stylesheet" href="/fonts/gilroy/stylesheet.css">
  <link rel="stylesheet" href="/fonts/ionicons.min.css">
  <link rel="stylesheet" href="/fonts/font-awesome.min.css">

  <!-- Vendor CSS style -->
  <link rel="stylesheet" href="/stylesheets/pageloader.css">

  <!-- Uncomment below to load individualy vendor CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/javascripts/vendor/swiper.min.css">
  <link rel="stylesheet" href="/javascripts/vendor/jquery.fullpage.min.css">
  <link rel="stylesheet" href="/javascripts/vegas/vegas.min.css">

  <!-- Main CSS files -->
  <link rel="stylesheet" href="/stylesheets/main.css">

  <!-- add alt layout here -->
  <link rel="stylesheet" href="/stylesheets/style-default.css">

  <script src="/javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="body-page">
  <!-- Page Loader : just comment these lines to remove it -->
  <div class="page-loader" id="page-loader">
    <div>
      <div class="icon ion-spin"></div>
      <p>Loading</p>
    </div>
  </div>
  {{> header }}
  <!-- BEGIN OF page cover -->
  <div class="page-cover" id="parallax-cover">
    <!-- Cover Background -->
    <div data-depth="0.2" class="cover-bg bg-img" data-image-src="images/backgrounds/odysseyBackground.jpg"></div>

    <!-- Transluscent mask as filter -->
    <div class="cover-bg-mask bg-color" data-bgcolor="rgba(2, 3, 10, 0.7)"></div>

  </div>
  <!--END OF page cover -->

  {{{ body }}}

  {{> footer}}

  <!-- scripts -->
  <!-- All Javascript plugins goes here -->
  <script src="/javascripts/vendor/jquery-1.12.4.min.js"></script>
  <script src="/javascripts/slick/slick.min.js"></script>

  <!-- All vendor scripts -->
  <script src="/javascripts/vendor/parallax.min.js"></script>
  <script src="/javascripts/vendor/scrolloverflow.min.js"></script>
  <script src="/javascripts/vendor/all.js"></script>
  <script src="/javascripts/particlejs/particles.min.js"></script>

  <!-- Countdown script -->
  <script src="/javascripts/jquery.downCount.js"></script>

  <!-- Form script -->
  <script src="/javascripts/form_script.js"></script>

  <!-- Javascript main files -->
  <script src="/javascripts/main.js"></script>

</body>

</html>